@import url(reset.css);
@import url(common.css);

header{
    width: 100%;
    height: 80px;
    padding: 20px 50px 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;
}

.container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu_wrap{
    display: flex;
}

.menu_wrap li{
    margin-left: 96px;
}

.menu_wrap a{
    font-size: 18px;
    font-weight: 700;
    transition: 0.3s;
}

.menu_bar{
    width: 24px;
    margin-left: 132px;
}

.menu_bar i{
    color: white;
}

.menu_wrap a:hover{
    color: #c51111;
}

@media screen and (max-width: 1024px) {
    
    .logo{
        width: 90px;
    }

    .menu_wrap li{
        margin-left: 35px;
    }

    .menu_wrap a{
        font-size: 14px;
    }
    
    .menu_wrap a:hover{
        color: #fff;
    }

    .menu_bar{
        margin-left: 40px;
    }

}

@media screen and (max-width: 768px) {
    
    header{
        height: 60px;
        padding: 13px 20px 7px;
    }

    .menu_wrap{
        display: none;
    }

    .logo{
        width: 94px;
    }

}
/* header end */

.section_1{
    width: 100%;
    height: 100vh;
    background-color: gray;
}

.section_1 video{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

@media screen and (max-width: 768px) {

    .section_1{
        width: 100%;
        height: 620px;
    }

    .section_1 video{
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    
}
/* section_1 end */

.section_2{
    height: 1140px;
    padding: 150px 204px;
    background-color: black;
    position: relative;
}

.title_wrap_2 h2{
    font-size: 196px;
    font-weight: 700;
    margin-bottom: 50px;
    letter-spacing: -10px;
}

.title_wrap_2 p{
    font-size: 20px;
    font-weight: 400;
    line-height: 30px;
    margin-bottom: 74px;
    color: #fffFFFa8;
}

.bg_2{
    width: 383px;
    opacity: 0.25;
    margin-left: 93px;
    margin-bottom: 75px;
}

/* .arrow_btn_2{
    margin-top: 5px;
} */

.section_2 video{
    width: 900px;
    height: 615px;
    position: absolute;
    right: 204px;
    bottom: 160px;
}

@media screen and (max-width: 1024px) {

    .section_2{
        height: 800px;
        padding: 100px 50px;
    }

    .title_wrap_2 h2{
        font-size: 64px;
        margin-bottom: 10px;
        letter-spacing: -1px;
    }

    .bg_2,
    .arrow_btn_2{
        display: none;
    }

    .section_2 video{
        width: 100%;
        height: 450px;
        position: unset;
    }

}

@media screen and (max-width: 768px) {

    .section_2{
        height: 481px;
        padding: 80px 20px;
    }

    .title_wrap_2{
        margin-bottom: 30px;
    }

    .title_wrap_2 h2{
        font-size: 36px;
        margin-bottom: 20px;
    }

    .title_wrap_2 p{
        font-size: 14px;
        line-height: 20px;
        margin-bottom: 0;
    }

    .bg_2,
    .description_2,
    .arrow_btn_2{
        display: none;
    }

    .section_2 video{
        width: 100%;
        height: 220px;
        position: unset;
    }
    
}
/* section_2 end */

.con_wrap_3{
    display: flex;
    justify-content: space-between;
    margin-bottom: 24px;
}

.con_3{
    width: 345px;
    height: 400px;
    position: relative;
    cursor: pointer;
}

.con_3 img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.bg_3,
.con_title_wrap_3{
    width: 100%;
    opacity: 0;
    text-align: center;
    transition: 0.3s;
}

.bg_3{
    width: 100%;
    height: 100%;
    background-color: #1d1d1d;
    position: absolute;
    top: 0;
    left: 0;
}

.con_title_wrap_3{
    position: absolute;
    bottom: 30px;
    left: 50%;
    transform: translateX(-50%);
}

.con_3 h4{
    margin-bottom: 10px;
}

.con_3:hover .bg_3{
    opacity: 0.6;
}

.con_3:hover .con_title_wrap_3{
    opacity: 1;
}

.tab_section_3{
    display: none;
}

.mo_section_3{
    display: none;
}

@media screen and (max-width: 1024px) {
    .section_3{
        display: none;
    }

    .tab_section_3{
        display: block;
    }

    .tab_section_3 h3{
        font-size: 48px;
        font-weight: 700;
        margin-bottom: 30px;
    }

    .swiper{
        width: 100%;
        height: 100%;
    }

    .tab_section_3 .swiper-slide{
        height: 100%
    }
  
    .tab_con_wrap_3 .swiper-slide img{
        width: 100%;
        height: 320px;
        object-fit: cover;
    }

    .tab_con_title_wrap_3{
        margin-top: 15px;
    }

    .tab_con_title_wrap_3 h4{
        font-size: 24px;
        font-weight: 700;
        margin-bottom: 10px;
        color: white;
    }

    .tab_con_title_wrap_3 p{
        opacity: 0.7;
    }

}

@media screen and (max-width: 768px) {
    .section_3{
        display: none;
    }

    .tab_section_3{
        display: none;
    }

    .mo_section_3{
        display: block;
    }

    .swiper{
        width: 100%;
        height: 100%;
    }

    .mo_section_3 .swiper-slide{
        width: 200px;
        height: 291px;
    }
  
    .mo_con_wrap_3 .swiper-slide img{
        width: 100%;
        height: 240px;
        object-fit: cover;
    }

    .mo_con_title_wrap_3{
        margin-top: 10px;
    }

    .mo_con_title_wrap_3 h4{
        font-size: 18px;
        font-weight: 700;
        margin-bottom: 5px;
        color: white;
    }

    .mo_con_title_wrap_3 p{
        opacity: 0.7;
    }

}
/* section_3 end */

.mo_section_4{
    display: none;
}

.con_wrap_4{
    display: flex;
    justify-content: space-between;
}

.con_4{
    width: 345px;
}

.title_wrap_4 h4{
    color: #c51111;
    margin-bottom: 20px;
}

.title_wrap_4 p{
    opacity: 0.5;
    letter-spacing: -1px;
    margin-bottom: 43px;
}

.line_4{
    width: 1px;
    background-color: #f1f1f1;
    opacity: 0.3;
    margin-bottom: 42px;
}

.line_4_1{
    height: 400px;
}

.line_4_2{
    height: 310px;
}

.line_4_3{
    height: 220px;
}

.line_4_4{
    height: 130px;
}

.line_4_5{
    height: 40px;
}

.con_4 img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.con_4_1 img{
    height: 280px;
}

.con_4_2 img{
    height: 370px;
}

.con_4_3 img{
    height: 460px;
}

.con_4_4 img{
    height: 550px;
}

.con_4_5 img{
    height: 640px;
}

@media screen and (max-width: 1024px) {

    .section_4{
        display: none;
    }

    .mo_section_4{
        display: block;
    }

    .mo_section_4 h3{
        font-size: 48px;
        font-weight: 700;
        margin-bottom: 35px;
    }

    .mo_con_4{
        margin-bottom: 40px;
    }

    .mo_con_4_4{
        margin-bottom: 0;
    }

    .mo_title_wrap_4{
        margin-top: 20px;
    }

    .mo_title_wrap_4 h4{
        font-size: 24px;
        font-weight: 700;
        color: #c51111;
        margin-bottom: 10px;
    }

    .mo_title_wrap_4 p{
        opacity: 0.5;
    }

    .mo_title_wrap_4 br{
        display: none;
    }
}

@media screen and (max-width: 768px) {

    .section_4{
        display: none;
    }

    .mo_section_4{
        display: block;
    }

    .mo_title_wrap_4{
        margin-top: 10px;
        /* margin-bottom: 40px; */
    }

    .mo_section_4 h3{
        font-size: 36px;
        font-weight: 700;
        margin-bottom: 30px;
        letter-spacing: -2px;
    }

    .mo_title_wrap_4 h4{
        font-size: 20px;
        font-weight: 700;
        color: #c51111;
        margin-top: 15px;
        margin-bottom: 10px;
    }

    .mo_title_wrap_4 p{
        opacity: 0.5;
    }
    
}
/* section_4 end */

.con_wrap_5{
    position: relative;
    height: 100%;
    display: flex;
    justify-content: space-between;
}

.con_5{
    width: 890.5px;
}

.swiper {
    width: 100%;
    height: 100%;
}

.swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.con_5_2 {
    height: 613px;
    width: 100%;
}

.con_5_1 {
    height: 119px;
    padding-top: 24px;
    margin-bottom: 30px;
}

.con_5_1 .swiper-slide {
    width: 25%;
    height: 100%;
    opacity: 0.4;
}

.con_5_1 .swiper-slide-thumb-active {
    opacity: 1;
}

.title_wrap_5 h4{
    margin-bottom: 15px;
}

.title_wrap_5 p{
    line-height: 26px;
}

.con_5_4 {
    height: 613px;
    width: 100%;
}

.con_5_3 {
    height: 119px;
    padding-top: 24px;
    margin-bottom: 30px;
}

.con_5_3 .swiper-slide {
    width: 25%;
    height: 100%;
    opacity: 0.4;
}

.con_5_3 .swiper-slide-thumb-active {
    opacity: 1;
}

@media screen and (max-width: 1024px) {

    .con_wrap_5{
        display: block;
    }

    .con_5{
        width: 100%;
        margin-bottom: 40px;
    }

    .con_5_2 {
        height: 490px;
        width: 100%;
    }

    .con_5_4 {
        height: 490px;
        width: 100%;
    }
    
}

@media screen and (max-width: 768px) {

    .con_wrap_5{
        display: block;
    }

    .con_5{
        width: 100%;
        margin-bottom: 40px;
    }

    .con_5_1{
        display: none;
    }

    .con_5_2{
        height: 220px;
        width: 100%;
    }

    .con_5_3{
        display: none;
    }

    .con_5_4{
        height: 220px;
        width: 100%;
    }

    .title_wrap_5{
        margin-top: 15px;
    }
    
    .title_wrap_5 h4{
        font-size: 18px;
    }

    .title_wrap_5 p{
        display: none;
    }

    .swiper-button-next,
    .swiper-button-prev{
        --swiper-navigation-size: 24px;
    }
    
}
/* section_5 end */

footer{
    width: 100%;
    /* height: 448px; */
    background-color: black;
    border-top: 1px solid #f1f1f130;
    padding: 60px 50px;
    position: relative;
}

.footer_logo{
    width: 120px;
    position: absolute;
    top: 60px;
    left: 50%;
    transform: translateX(-50%);
}

footer p{
    opacity: 0.7;
}

.info{
    text-align: center;
    font-size: 16px;
    margin-top: 140px;
}

.company{
    line-height: 40px;
}

.line_break{
    display: none;
}

.footer_number{
    width: 500px;
    position: absolute;
    bottom: 130px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    justify-content: space-between;
}

.copylight{
    font-size: 12px;
    font-weight: 400;
    opacity: 0.5;
    display: flex;
    justify-content: center;
    margin-top: 85px;
}
@media screen and (max-width: 768px) {

    footer{
        padding: 40px 20px;
    }

    .footer_logo{
        width: 65px;
    }

    .info{
        margin-top: 100px;
    }

    .company{
        line-height: 25px;
    }

    .line_break{
        display: block;
    }

    .footer_number{
        width: 320px;
        bottom: 90px;
    }

    .copylight{
        font-size: 10px;
        margin-top: 75px;
    }
    
}
/* footer end */